# Fastapiをするためのライブラリ
fastapi

# PythonのwebサーバーとWebアプリケーションが通信するためのインターフェース
# 話すと長いから詳しく知りたい人は[uvicornとは？]でdigってください。
uvicorn

# Pythonでよく使われるObject Relational Mapper
sqlalchemy

# PostgreSQLを使うためのライブラリ
psycopg2
psycopg2-binary

## 応用編

# PEP8に基づいたフォーマットをしてくれるライブラリ
# 使い方 black xxx.py
black

# LLMを良しなにしてくれる素敵なライブラリ
langchain

# openaiのAPIを利用するためのライブラリ
openai